nodered/flows.json
[
  {
    "id": "tab_00_config",
    "type": "tab",
    "label": "00_config",
    "disabled": false,
    "info": "Global configuration: MQTT broker connection and shared constants.\nAll flows reference this single broker config node."
  },
  {
    "id": "tab_01_ingestion",
    "type": "tab",
    "label": "01_mqtt_ingestion",
    "disabled": false,
    "info": "Responsibility: Subscribe to UNS MQTT topics and parse raw JSON payloads.\nOutput: msg.topic (string), msg.payload (parsed object)"
  },
  {
    "id": "tab_02_topic_parser",
    "type": "tab",
    "label": "02_topic_parser",
    "disabled": false,
    "info": "Responsibility: Extract structured metadata from MQTT topic string.\nOutput: msg.meta = { namespace, site, system, device, type }"
  },
  {
    "id": "tab_03_ahu_normalization",
    "type": "tab",
    "label": "03_ahu_normalization",
    "disabled": false,
    "info": "Responsibility: Transform raw AHU telemetry into a clean domain object.\nOutput: msg.payload = { meta, telemetry, timestamp }"
  },
  {
    "id": "tab_04_routing",
    "type": "tab",
    "label": "04_routing",
    "disabled": false,
    "info": "Responsibility: Route messages by system type to correct normalization pipeline.\nCurrent routes: hvac → AHU normalization | future: power, chiller, etc."
  },

  {
    "id": "broker_emqx",
    "type": "mqtt-broker",
    "name": "EMQX UNS Broker",
    "broker": "mqtt-broker",
    "port": "1883",
    "clientid": "nodered-uns-client",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "sessionExpiry": "",
    "z": "tab_00_config"
  },
  {
    "id": "comment_config_broker",
    "type": "comment",
    "z": "tab_00_config",
    "name": "MQTT Broker — EMQX (Docker service: mqtt-broker:1883)",
    "info": "This broker config is shared by all MQTT IN/OUT nodes across all tabs.\nBroker hostname resolves via Docker network: uns-network.\nService name: mqtt-broker (from docker-compose.yaml)\nTo change broker settings, edit only this node.",
    "x": 280,
    "y": 80,
    "wires": []
  },
  {
    "id": "comment_config_topics",
    "type": "comment",
    "z": "tab_00_config",
    "name": "UNS Topic Convention: uns/{site}/{system}/{device}/{type}",
    "info": "Topic structure:\n  uns/         → namespace root\n  site01/      → physical or logical site\n  hvac/        → system domain\n  opta-ahu01/  → device identifier\n  telemetry    → message type\n\nExample: uns/site01/hvac/opta-ahu01/telemetry",
    "x": 280,
    "y": 160,
    "wires": []
  },

  {
    "id": "mqtt_in_telemetry",
    "type": "mqtt in",
    "z": "tab_01_ingestion",
    "name": "UNS Telemetry Subscriber",
    "topic": "uns/+/+/+/telemetry",
    "qos": "1",
    "datatype": "utf8",
    "broker": "broker_emqx",
    "nl": false,
    "rap": false,
    "rh": 0,
    "inputs": 0,
    "x": 160,
    "y": 160,
    "wires": [["json_parser"]]
  },
  {
    "id": "json_parser",
    "type": "json",
    "z": "tab_01_ingestion",
    "name": "JSON Parser",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 370,
    "y": 160,
    "wires": [["debug_raw_mqtt", "link_out_to_topic_parser"]]
  },
  {
    "id": "debug_raw_mqtt",
    "type": "debug",
    "z": "tab_01_ingestion",
    "name": "DEBUG: RAW MQTT",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 580,
    "y": 80,
    "wires": []
  },
  {
    "id": "link_out_to_topic_parser",
    "type": "link out",
    "z": "tab_01_ingestion",
    "name": "→ Topic Parser",
    "mode": "link",
    "links": ["link_in_topic_parser"],
    "x": 580,
    "y": 160,
    "wires": []
  },
  {
    "id": "comment_ingestion",
    "type": "comment",
    "z": "tab_01_ingestion",
    "name": "MQTT Ingestion — Subscribe uns/+/+/+/telemetry → Parse JSON → Forward",
    "info": "Input:  Raw MQTT message (UTF-8 string payload)\nOutput: msg.topic (string), msg.payload (parsed JS object)",
    "x": 340,
    "y": 60,
    "wires": []
  },

  {
    "id": "link_in_topic_parser",
    "type": "link in",
    "z": "tab_02_topic_parser",
    "name": "← MQTT Ingestion",
    "links": ["link_out_to_topic_parser"],
    "x": 130,
    "y": 160,
    "wires": [["fn_topic_parser"]]
  },
  {
    "id": "fn_topic_parser",
    "type": "function",
    "z": "tab_02_topic_parser",
    "name": "Extract Topic Metadata",
    "func": "// Topic convention: uns/{site}/{system}/{device}/{type}\n// Example: uns/site01/hvac/opta-ahu01/telemetry\n\nconst parts = msg.topic.split(\"/\");\n\nif (parts.length < 5) {\n    node.warn(\"Unexpected topic structure: \" + msg.topic);\n    return null;\n}\n\nmsg.meta = {\n    namespace: parts[0],\n    site:      parts[1],\n    system:    parts[2],\n    device:    parts[3],\n    type:      parts[4]\n};\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 330,
    "y": 160,
    "wires": [["debug_parsed_meta", "link_out_to_router"]]
  },
  {
    "id": "debug_parsed_meta",
    "type": "debug",
    "z": "tab_02_topic_parser",
    "name": "DEBUG: PARSED META",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "meta",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 570,
    "y": 80,
    "wires": []
  },
  {
    "id": "link_out_to_router",
    "type": "link out",
    "z": "tab_02_topic_parser",
    "name": "→ Device Router",
    "mode": "link",
    "links": ["link_in_router"],
    "x": 570,
    "y": 160,
    "wires": []
  },
  {
    "id": "comment_topic_parser",
    "type": "comment",
    "z": "tab_02_topic_parser",
    "name": "Topic Parser — Split topic string → msg.meta = { namespace, site, system, device, type }",
    "info": "Input:  msg.topic string, msg.payload object\nOutput: msg.meta object added to message\nDrops malformed topics.",
    "x": 380,
    "y": 60,
    "wires": []
  },

  {
    "id": "link_in_router",
    "type": "link in",
    "z": "tab_04_routing",
    "name": "← Topic Parser",
    "links": ["link_out_to_router"],
    "x": 130,
    "y": 200,
    "wires": [["switch_device_router"]]
  },
  {
    "id": "switch_device_router",
    "type": "switch",
    "z": "tab_04_routing",
    "name": "Route by System",
    "property": "meta.system",
    "propertyType": "msg",
    "rules": [
      { "t": "eq", "v": "hvac", "vt": "str" },
      { "t": "else" }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 320,
    "y": 200,
    "wires": [
      ["link_out_to_ahu_norm"],
      ["debug_unhandled_system"]
    ]
  },
  {
    "id": "link_out_to_ahu_norm",
    "type": "link out",
    "z": "tab_04_routing",
    "name": "→ AHU Normalization",
    "mode": "link",
    "links": ["link_in_ahu_norm"],
    "x": 530,
    "y": 160,
    "wires": []
  },
  {
    "id": "debug_unhandled_system",
    "type": "debug",
    "z": "tab_04_routing",
    "name": "DEBUG: Unhandled System",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "meta",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 540,
    "y": 240,
    "wires": []
  },
  {
    "id": "link_in_normalized",
    "type": "link in",
    "z": "tab_04_routing",
    "name": "← AHU Normalization",
    "links": ["link_out_normalized"],
    "x": 130,
    "y": 360,
    "wires": [["debug_normalized_object", "fn_historian_stub"]]
  },
  {
    "id": "debug_normalized_object",
    "type": "debug",
    "z": "tab_04_routing",
    "name": "DEBUG: NORMALIZED OBJECT",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 380,
    "y": 300,
    "wires": []
  },
  {
    "id": "fn_historian_stub",
    "type": "function",
    "z": "tab_04_routing",
    "name": "→ Historian Pipeline (stub)",
    "func": "// STUB: InfluxDB write pipeline goes here in the next phase.\n// Will receive: msg.payload = { meta, telemetry, timestamp }\n//\n// Next step: add influxdb-out node and map fields:\n//   measurement: msg.payload.meta.system + \".\" + msg.payload.meta.device\n//   fields:      msg.payload.telemetry\n//   timestamp:   msg.payload.timestamp\n\nnode.status({ fill: \"grey\", shape: \"ring\", text: \"historian stub — not connected\" });\nreturn null;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 400,
    "wires": [[]]
  },
  {
    "id": "comment_routing",
    "type": "comment",
    "z": "tab_04_routing",
    "name": "Device Router — msg.meta.system → hvac pipeline | unhandled → debug",
    "info": "Switch routes on msg.meta.system.\nCurrent: hvac → AHU Normalization\nFuture: power, chiller, lighting",
    "x": 340,
    "y": 100,
    "wires": []
  },

  {
    "id": "link_in_ahu_norm",
    "type": "link in",
    "z": "tab_03_ahu_normalization",
    "name": "← Device Router (hvac)",
    "links": ["link_out_to_ahu_norm"],
    "x": 130,
    "y": 160,
    "wires": [["fn_ahu_normalization"]]
  },
  {
    "id": "fn_ahu_normalization",
    "type": "function",
    "z": "tab_03_ahu_normalization",
    "name": "Normalize AHU Telemetry",
    "func": "// Input:  msg.payload = Arduino Opta AHU telemetry\n//         msg.meta    = { namespace, site, system, device, type }\n//\n// Output: msg.payload = clean domain object\n\nconst raw = msg.payload;\n\n// Validate required fields from Opta firmware\nif (raw.supply_air_temp_c === undefined || raw.return_air_temp_c === undefined) {\n    node.warn(\"AHU payload missing required fields: \" + JSON.stringify(raw));\n    return null;\n}\n\nmsg.payload = {\n    meta: {\n        site:   msg.meta.site,\n        system: msg.meta.system,\n        device: raw.device || msg.meta.device,\n        type:   \"ahu\",\n        mode:   raw.mode\n    },\n    telemetry: {\n        // Air side\n        supply_air_temp_c:     raw.supply_air_temp_c,\n        supply_air_setpoint_c: raw.supply_air_setpoint_c,\n        return_air_temp_c:     raw.return_air_temp_c,\n\n        // Chilled water side\n        chw_temp_in_c:         raw.chw_temp_in_c,\n        chw_temp_out_c:        raw.chw_temp_out_c,\n        chw_delta_t_c:         raw.chw_delta_t_c,\n\n        // Mechanical\n        vfd_speed_pct:         raw.vfd_speed_pct,\n        vfd_setpoint_pct:      raw.vfd_setpoint_pct,\n        valve_position_pct:    raw.valve_position_pct,\n        filter_dp_pa:          raw.filter_dp_pa,\n        duct_pressure_pa:      raw.duct_pressure_pa,\n\n        // Air quality\n        co2_ppm:               raw.co2_ppm\n    },\n    timestamp: raw.event_ts || Date.now(),\n    uptime_ms: raw.uptime_ms\n};\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 340,
    "y": 160,
    "wires": [["link_out_normalized"]]
  },
  {
    "id": "link_out_normalized",
    "type": "link out",
    "z": "tab_03_ahu_normalization",
    "name": "→ Telemetry Router",
    "mode": "link",
    "links": ["link_in_normalized"],
    "x": 560,
    "y": 160,
    "wires": []
  },
  {
    "id": "comment_ahu_norm",
    "type": "comment",
    "z": "tab_03_ahu_normalization",
    "name": "AHU Normalization — Arduino Opta payload → clean domain object",
    "info": "Transforms Arduino Opta AHU payload into a clean domain object.\n\nInput fields (Opta firmware):\n  supply_air_temp_c, supply_air_setpoint_c, return_air_temp_c\n  chw_temp_in_c, chw_temp_out_c, chw_delta_t_c\n  vfd_speed_pct, vfd_setpoint_pct, valve_position_pct\n  filter_dp_pa, duct_pressure_pa, co2_ppm\n  event_ts, uptime_ms, mode, device",
    "x": 340,
    "y": 60,
    "wires": []
  }
]
